.home {
    width: 100%;
    display: flex;
}

.standinLake {
    width: 100%;
    height: 100%;
    content: var(--standinLakeImage);
}

#right {
    margin: 0;
    position: absolute;
    top: 50%;
    margin-left: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#apps .button {
    background-color: var(--activeColor);
}

#opensource .button {
    background-color: var(--errorColor);
}

#opensource .button p,
#apps .button p {
    position: absolute;
    display: inline;
    margin-left: 20px;
    font-size: 1.4em;
    font-weight: bold;
    color: var(--backgroundColor);
}