:root {
    --margin: 16px;
    --negativeMargin: -25px;
    --border: 3px;
    --singlePixel: 2px;
    --itemSize: 60px;
    --logoCornerRadius: 15px;
    --paddingRight: 10px;
    --animationDuration: .3s;
    --fontName: "SF Pro";
    --backgroundColor: #fcfcfc;
    --activeColor: #007bff;
    --errorColor: #FF3B30;
    --normalColor: #1c1c1e;
    --placeholderColor: #f0f1f5;
    --standinLakeImage: url("https://mohamadrezakoohkan.github.io/blog/static/image/standinLake.png");
    --logoImage: url("https://mohamadrezakoohkan.github.io/blog/static/image/swiftui-96x96.png")
}

@font-face {
    font-family: "SF Pro";
    font-weight: 400;
    src: url("../static/font/sanfranciscodisplay-regular-webfont.woff");
}

html {
    font-family: var(--fontName);
    background-color: var(--backgroundColor);
    margin: var(--margin);
}

.split {
    width: 43%;
    align-content: center;
}

.headline {
    font-size: 3.0em;
    font-weight: bold;
    transition: var(--animationDuration) all;
}

.subHeadline {
    padding-top: var(--margin);
    font-size: 2.5em;
}