<header>
    <img class="logo">
    <nav class="navigationBar">
        <ul class="navigationBarItems">
            <li class="barButtonItem">
                <div class="barButtonItemContent">
                    <a class="title" href="#" onclick="selectUnderline(event)">
                        Home
                    </a>
                    <span class="underline" id="visible"></span>
                </div>
            </li>
            <li class="barButtonItem">
                <div class="barButtonItemContent">
                    <a class="title" href="#" onclick="selectUnderline(event)">
                        Services
                    </a>
                    <span class="underline"></span>
                </div>
            </li>
            <li class="barButtonItem">
                <div class="barButtonItemContent">
                    <a class="title" href="#" onclick="selectUnderline(event)">
                        About
                    </a>
                    <span class="underline"></span>
                </div>
            </li>
        </ul>
    </nav>
</header>